# Global configurations
LOG_LEVEL=info

# Service Ports
PHANTOM_FINAL_PORT=3000
VIDEO_API_PORT=3001
GENRE_API_PORT=3002
PLAYLIST_API_PORT=3003

# Logstash (if needed)
LOGSTASH_HOST=localhost
LOGSTASH_PORT=5000
LOGSTASH_PATH=/

# Dependencies
MONGO_SERVICE_URL=mongodb://mongo:27017
VIDEO_SERVICE_URL=http://video-api:3001
UPLOAD_DIR=/usr/src/app/uploads

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
ENCODING_QUEUE=video_encoding_queue

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
